# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml
dbt_project/profiles.yml
dbt_project/package-lock.yml

# Data (not committed - see README for how to obtain)
data/*.csv

# Environment variables
.env

# PostgreSQL / Docker
postgres_data/

# OS files
.DS_Store
Thumbs.db
